body {
    font-family: Arial, sans-serif;
    background-color: rgb(218, 255, 255);
    margin: 0;
}

header {
    background-color: skyblue;
    text-align: center;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: chocolate;
}

a:hover {
    color: blanchedalmond;
}

section {
    background-color: beige;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

h1, h2 {
    font-weight: bold;
}

p {
    line-height: 1.5;
}

img {
    width: 200px;
    border-radius: 10px;
}